<section class="github">
	<h3>Repos</h3>
	<div class="repos row">
		<div class="span4">
		<% filters.columns(github.repos, 3).forEach(function (repos, col) { %>
			<% repos.forEach(function (repo, i) { %>
			<div class="thumbnail">
				<div class="caption">
					<% if (repo.fork) { %>
					<span class="label label-inverse pull-right">fork</span>
					<% } %>
					<h3><%- repo.name.substring(0, 20) %></h3>
					<p class="desc"><%- repo.description %></p>
					<p>
						<a href="<%= repo.html_url %>" class="btn btn-primary">See on github</a>
						<% if (repo.homepage) { %>
						<a href="<%= repo.homepage %>" class="btn">Homepage</a>
						<% } %>
					</p>
				</div>
			</div>
			<% }) %>
		</div><div class="repos span4">
		<% }); %>
		</div>
	</div>

	<hr />

	<h3>Gists</h3>
	<div class="gists row">
		<% var itemPerCol = Math.ceil(github.gists.length/3); %>
		<div class="span4">
		<% filters.columns(github.gists, 3).forEach(function (gists, col) { %>
			<% gists.forEach(function (gist, i) { %>
			<div class="thumbnail">
			<div class="caption">
				<h3>Gist #<%- gist.id %></h3>
				<p class="desc"><%- gist.description %></p>
				<p>
					<a href="<%= gist.html_url %>" class="btn btn-primary">View</a>
				</p>
			</div>
			</div>
			<% }); %>
		</div><div class="repos span4">
		<% }); %>
		</div>
	</div>

</section>
