<% var lb = function(txt) {
	return (txt || '').split('\n').join('<br>');
} %>
<section class="linkedin">
	<div class="media hero-unit">
		<a class="pull-left" href="#">
			<img class="img-polaroid" src="<%= data.cv.pictureUrl %>">
		</a>
		<div class="pull-left">
			<h2><%- data.cv.firstName %> <%- data.cv.lastName %></h2>
			<p><%- data.cv.headline %></p>
		</div>
	</div>

	<div class="cv row">
		<div class="skills span2 pull-right">
			<h3 class="label">Skills</h3>
			<% data.cv.skills.values.forEach(function(skill, i) { %>
			<span class="label"><%- skill.skill.name %></span>
			<% }); %>
			<span class="label label-success">and counting...</span>
		</div>


		<header class="span2">
			<h3 class="label">Experience</h3>
		</header>
		<div class="span8">
			<% data.cv.positions.values.forEach(function(pos, i) { %>
			<article class="positions n<%= i %>">
				<p class="lead">
					<b><%= pos.title %></b> at <b><%= pos.company.name %></b>
					<small class="muted">
					from <%= pos.startDate.year %>/<%= pos.startDate.month %> to
					<% if (pos.isCurrent) { %>
					present
					<% } else { %>
					<%= pos.endDate.year %>/<%= pos.endDate.month %>
					<% } %>
					</small>
				</p>
				<p><%- lb(pos.summary) %></p>
			</article>
			<% }); %>
		</div>

		<hr />

		<header class="span2">
			<h3 class="label">Education</h3>
		</header>
		<div class="span8">
		<% data.cv.educations.values.forEach(function(educ, i) { %>
		<article class="education n<%= i %>">
			<p class="lead">
				<b><%= educ.degree %></b> in <b><%= educ.fieldOfStudy %></b>
				<small>
				from <b><%= educ.schoolName %></b>,
				<% if (educ.endDate.year == educ.startDate.year) { %>
				since <%= educ.startDate.year %>
				<% } else { %>
				from <%= educ.startDate.year %>
				to <%= educ.endDate.year %>
				<% } %>
				</small>
			</p>
			<p><%- lb(educ.notes) %></p>
		</article>
		<% }); %>
		</div>
	</div>
</section>
